<!DOCTYPE html>
<html>
    <head>
        <title>TP passport locale + Sequelize</title>
    </head>
    <body>
        <form id="signin" name="signin" 
                method="post" action="signin">
                <label for="email">Email</label>
                <input class="text" name="email" type="text"/>
                <label for="password">Password</label>
                <input class="text" name="password" type="password"/>
                <input class="btn" type="submit" value="Sign in"/>
        </form>
    </body>
</html>